* {
    box-sizing: border-box;
}
html {
    font-size: 16px;
}
body {
    padding: 0;
    margin: 0;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    overflow: hidden;
}

.container {
    height: 100vh;
    width: 100vw;
}
.title-bar {
    height: 6vh;
    width: 100vw;
    background-color: #107c41;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    text-transform: capitalize;
}

/*Menu Bar*/

.menu-bar {
    height: 5vh;
    display: flex;
    font-size: 1rem;
    background-color: #f3f2f1;
    color: black;
    text-transform: capitalize;
}
.menu-item {
    min-width: 4vw;
    height: 100%;
    display: flex;
    padding-inline: 1rem;
    justify-content: center;
    align-items: center;
}
.menu-item.selected {
    background-color: #e8e8e8;
    font-weight: bold;
    border-bottom: solid;
    border-color: #107c41;
    border-width: 0.2rem;
}
.menu-item:hover {
    background-color: #e8e8e8;
    cursor: pointer;
    font-weight: bold;
}

/*Menu Icon Bar*/

.menu-icon-bar {
    height: 5vh;
    width: 100vw;
    background-color: #f3f2f1;
    display: flex;
    text-transform: none;
}
.menu-icon-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 0.5rem;
    border: none;
    font-size: 1.25rem;
}
.menu-icon-item:hover {
    background-color: #e8e8e8;
    cursor: default;
}

.font-family-selector {
    margin: 0.3rem;
    min-width: 7vw;
    font-size: 1rem;
    margin-right: 0;
    border-radius: 0%;
}
.font-size-selector {
    margin: 0.3rem;
    min-width: 3vw;
    font-size: 1rem;
    margin-left: 0;
    border-radius: 0%;
    border-left: none;
}

/*Formula Bar*/

.formula-bar {
    height: 4vh;
    width: 100vw;
    background-color: #e8e8e8;
    display: flex;
}
.cell-name {
    background-color: #ffffff;
    margin: 0.2rem;
    height: 1.4rem;
    width: 8rem;
    border-width: thin;
    border-style: solid;
    border-color: silver;
}
.formula-buttons {
    width: 6rem;
    align-items: center;
    height: 1.4rem;
    background-color: #ffffff;
    margin: 0.2rem;
    display: flex;
    border-width: thin;
    border-style: solid;
    border-color: silver;
}

.formula-close {
    margin: 0.25rem;
}
.formula-check {
    margin: 0.25rem;
}
.formula-icon {
    margin: 0.25rem;
}
.formula-input {
    flex-grow: 100;
    height: 1.4rem;
    margin: 0.2rem;
    background-color: #ffffff;
    padding-inline: 0.3rem;
    padding-block: 0.1rem;

    border-width: thin;
    border-style: solid;
    border-color: silver;
    outline-style: none;
}

/*Data Conatiner*/

.data-container {
    height: 75vh;
    display: flex;
    flex-direction: row;
    overflow: scroll;
    overflow-x: auto;
}
.data-container-one {
}
.select-all {
    background-color: #f3f2f1;
    height: 3vh;
    width: 2.5vw;
    display: flex;
}
.select-all-button {
    width: 100%;
    margin-top: 0.3rem;
    border: 0;
    border-right: solid;
    border-bottom: solid;
    border-width: thin;
    border-color: silver;
}
.row-name-container {
    width: 2.5vw;
    min-height: 72vh;
    background-color: #f3f2f1;
    display: flex;
    flex-direction: column;
}
.row-name {
    width: 2.5vw;
    min-height: 2.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: lighter;
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: silver;
    border-right-color: black;
    border-right-style: solid;
    border-right-width: thin;
}
.row-name:hover {
    background-color: #e8e8e8;
}
.data-container-two {
    overflow-x: scroll;
    overflow-y: hidden;
}
.column-name-container {
    width: 97vw;
    height: 3vh;
    background-color: #f3f2f1;
    display: flex;
}
.column-name {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    min-width: 5vw;
    font-weight: lighter;
    margin-top: 0.3rem;
    border-right-width: thin;
    border-right-style: solid;
    border-right-color: silver;

    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: black;
}
.column-name:hover {
    background-color: #e8e8e8;
}

.input-cell-container {
    height: 72vh;
    width: 96vw;
}
.input-cell-row {
    display: flex;
}
.input-cell {
    padding-inline: 0.3rem;
    min-height: 2.5vh;
    min-width: 5vw;

    border-bottom: solid;
    border-right: solid;
    border-width: 1px;
    border-color: darkgrey;
    outline: none;
}
.input-cell:focus {
    padding-inline: 0.3rem;
    min-height: 2.5vh;
    min-width: 5vw;

    border: none;
    outline-style: solid;
    outline-color: #237447;
}

/*Sheet-Bar*/

.sheet-bar {
    width: 100vw;
    height: 5vh;
    background-color: #f3f2f1;
    position: fixed;
    bottom: 0;
    display: flex;
}
.sheet-bar-buttons {
    border: none;
    border-radius: none;
}
.sheet-bar-buttons:hover {
    background-color: #e8e8e8;
}
.sheet-tabs {
    display: flex;
    justify-content: center;
    align-items: stretch;
}
.sheet-tab-button {
    padding: 0;
    width: 4vw;
    border: 0;
    border-radius: 0%;
    text-transform: capitalize;
    background-color: #f3f2f1;
}
.sheet-tab-button.selected {
    padding: 0;
    width: 4vw;
    border-bottom: solid;
    border-color: #107c41;
    border-width: 0.5ex;
}
.sheet-tab-button:hover {
    background-color: #e8e8e8;
}
