* {
    box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0;
    font-size: 14;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.material-symbols-outlined {
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}
.container {
    height: 100vh;
    width: 100vw;
}
.title-bar {
    height: 6vh;
    width: 100vw;
    background-color: #107c41;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    font-weight: bold;
    text-transform: capitalize;
}

/*Menu Bar*/

.menu-bar {
    height: 5vh;
    display: flex;
    font-size: 16;
    background-color: #f3f2f1;
    color: black;
    text-transform: capitalize;
}
.menu-item {
    display: flex;
    padding-inline: 10px;
    justify-content: center;
    align-items: center;
    padding-inline: 1.75ex;
}
.menu-item.selected {
    background-color: #e8e8e8;
    font-weight: bold;
    border-bottom: solid;
    border-color: #107c41;
    border-width: 0.5ex;
}
.menu-item:hover {
    background-color: #e8e8e8;
    cursor: pointer;
    font-weight: bold;
}

/*Menu Icon Bar*/

.menu-icon-bar {
    height: 5vh;
    background-color: #f3f2f1;
    display: flex;
    text-transform: none;
}
.menu-icon-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 0.75ex;
    border: none;
    font-size: larger;
}
.menu-icon-item:hover {
    background-color: #e8e8e8;
    cursor: default;
}

.font-family-selector {
    margin: 0.75vh;
    width: 7vw;
    font-size: 1em;
    margin-right: 0;
    border-radius: 0%;
}
.font-size-selector {
    margin: 0.75vh;
    width: 3vw;
    font-size: 1em;
    margin-left: 0;
    border-radius: 0%;
    border-left: none;
}

/*Formula Bar*/

.formula-bar {
    height: 4vh;
    width: 100vw;
    background-color: #e8e8e8;
    display: flex;
}
.namebox {
    margin-block: 0.5ex;
    width: 8vw;
    margin-inline: 0.5ex;
    font-size: 1em;
    border: #e8e8e8;
}

/*Data Conatiner*/

.data-container {
    height: 75vh;
    display: flex;
    flex-wrap: wrap;
}
.select-all {
    background-color: #f3f2f1;
    height: 3vh;
    width: 2.5vw;
    display: flex;
}
.select-all-button {
    width: 100%;
    margin-top: 0.5ex;
    border: 0;
    border-right: solid;
    border-bottom: solid;
    border-width: thin;
    border-color: silver;
}
.column-name-container {
    width: 97vw;
    height: 3vh;
    background-color: #f3f2f1;
    display: flex;
}
.column-name {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    width: 5vw;
    font-weight: lighter;
    margin-top: 0.5ex;
    border-right-width: thin;
    border-right-style: solid;
    border-right-color: silver;

    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: black;
}
.column-name:hover {
    background-color: #e8e8e8;
}

.row-name-container {
    width: 2.5vw;
    height: 75vh;
    background-color: #f3f2f1;
    display: flex;
    flex-direction: column;
}
.row-name {
    height: 3ex;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: lighter;
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: silver;
    border-right-color: black;
    border-right-style: solid;
    border-right-width: thin;
}
.row-name:hover {
    background-color: #e8e8e8;
}

.input-cell-container {
    height: 72vh;
    width: 96vw;
}
.input-cell {
    height: 3ex;
    width: 5vw;
    border-right: solid;
    border-bottom: solid;
    border-width: thin;
    border-color: darkgrey;
}

/*Sheet-Bar*/

.sheet-bar {
    width: 100vw;
    height: 5vh;
    background-color: #f3f2f1;
    position: fixed;
    bottom: 0;
    display: flex;
}
.sheet-bar-buttons {
    border: none;
    border-radius: none;
}
.sheet-bar-buttons:hover {
    background-color: #e8e8e8;
}
.sheet-tabs {
    display: flex;
    justify-content: center;
    align-items: stretch;
}
.sheet-tab-button {
    padding: 0;
    width: 4vw;
    border: 0;
    border-radius: 0%;
    text-transform: capitalize;
    background-color: #f3f2f1;
}
.sheet-tab-button.selected {
    padding: 0;
    width: 4vw;
    border-bottom: solid;
    border-color: #107c41;
    border-width: 0.5ex;
}
.sheet-tab-button:hover {
    background-color: #e8e8e8;
}
